.flex-row-container {
  background: #aaa;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-row-item {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 100px;
  background-color: #edffe6;
  border: 1px solid #07dbf7;
}
